-content_for :head do
  = stylesheet_link_tag 'wmd/wmd.css', :cache => true
  = javascript_include_tag 'vendor/wmd/wmd.combined.min', :cache => true


= form_for @partner do |f|
  -if @partner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@partner.errors.count, "error")} prohibited this partner from being saved:"
      %ul
        - @partner.errors.full_messages.each do |msg|
          %li= msg
  .columns.wat-cf
    .column.left
      .field.group
        = f.label :name, :class => 'label'
        = f.text_field :name, :class => 'text_field'
      .field.group
        = f.label :description, :class => 'label'
        #partner_description-button-bar
        = f.text_area :description, :class => 'text_area'
      .field.group
        %label.label Preview
        #partner_description-preview.markdown_preview
  .group.navform.wat-cf
    - content_tag :button, :type => :submit, :class => 'button' do
      = image_tag "icons/tick.png"
      =t(:save)
    = link_to t(:back), partners_path, :class => 'button'

:javascript
  setup_wmd({
      input: "partner_description",
      button_bar: "partner_description-button-bar",
      preview: "partner_description-preview"
      // output: "copy_html"
  });
