= render :partial => "nav"

.block
  .content
    = model_title_links(@partner, t="name")
    .inner
      %p= raw(RDiscount.new(@partner.description).to_html) rescue nil

.content
  .inner
    %h1 Projects

=render @projects

.block
  .content
    .inner
      .actions-bar.wat-cf
        .actions
          = link_to raw("&larr; #{t(:back_to_partners)}"), partners_path, :class => "button"