= render :partial => "shared/nav"

.block
  .content
    %h2.title
      = t(:editing_article)
    .inner
      .form
        = render 'form'

= link_to raw("&larr; #{t(:show_article)} (#{@article.title})"), @article
\|
= link_to raw("&larr; #{t(:back_to_articles)}"), articles_path