%h1 Listing articles

%table
  %tr
    %th Title
    %th Content
    %th Published at
    %th Author
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.content_html
      %td= article.published_at
      %td= article.author_id
      %td= link_to 'Show', [@project, article]
      %td= link_to 'Edit', [:edit, @project, article]
      %td= link_to 'Destroy', [@project, article], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Article', [:new, @project, :article]
