%p#notice= notice

%h1= @article.title 
%p
  %b Content:
  = @article.content_html
%p
  %b Published at:
  = @article.published_at
%p
  %b Author:
  = @article.author_id

= link_to 'Edit', [:edit, @project, @article]
\|
= link_to 'Back', [@project, :articles]
