= render :partial => "shared/nav"

.block
  .content
    = model_title_links(@article, t="title")
    .inner
      %p= raw(RDiscount.new(@article.content).to_html) rescue nil
      
.block
  .content
    .inner
      .actions-bar.wat-cf
        .actions
          = link_to raw("&larr; #{t(:back_to_articles)}"), articles_path, :class => "button"
