= render :partial => "shared/nav"


-content_for :head do
  = stylesheet_link_tag 'compiled/dashboard.css', :media => 'screen, projection'
  = stylesheet_link_tag 'flick/jquery-ui'

  %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
  = javascript_include_tag 'jquery-ui.min'

  :javascript
    function loadGoogleChartsContent() {
      drawRegionsMap();
      $(document).ready(function() {
        $("#map_tabs").tabs();
      });
    }

    google.load('visualization', '1.1', {'packages': ['geochart']});
    google.setOnLoadCallback(loadGoogleChartsContent);

    function drawRegionsMap() {
      var countries = JSON.parse('#{escape_javascript(@countries_attributes.to_json)}')
      var data = new google.visualization.DataTable();

      data.addRows(countries.length);
      data.addColumn('string', 'Country');
      data.addColumn('number', 'Projects');

      jQuery.each(countries, function(index, country) {
        data.setValue(index, 0, country.name);
        data.setValue(index, 1, country.total_projects);
      });

      // var options = {};
      var options = {width: 400, height: 300 }

      regions = [
                  {"name":"World",          "id":"world"},
                  {"name":"Southern Asia",  "id":"034"},
                  {"name":"Caribbean",      "id":"029"},
                  {"name":"Africa",         "id":"002"},
                  {"name":"Asia Pacific",   "id":"035"}
                ]

      jQuery.each(regions, function(i, region) {
        div_id = 'map_canvas_' + region.name.replace(/ /, '_')

        // tabs ul li
        $("#map_tabs ul").append('<li><a href="#'+ div_id + '">' + region.name + '</a></li>')

        // content div for map
        var div = '<div id="'+div_id+'">'+region.name+'</div>';

        var info_container = '<div style="width:480px; float:right;" id="'+div_id+'_info">'+region.name+'</div>';

        console.log(info_container);

        $('#map_tabs').append(div);

        options = {width: 400, height: 300, region: region.id }
        var container = document.getElementById(div_id);
        var geochart = new google.visualization.GeoChart(container);
        geochart.draw(data, options);
        $("#"+div_id).append(info_container);
      });
    }; // drawRegionsMap

.block-forms.block
  .dashboard
    #content.content
      .inner
        %h2=t('regional_overview')
        #map_tabs
          %ul

        #paginator
          = will_paginate @events, :remote => true
        .clear
        %form
          .columns.wat-cf
            .column.left
              / recent events
              %h3=t('activities_since_login')
              #events
                =render :partial => "event", :collection => @events

            .column.right
              / recent projects
              %h3=t('projects_changed_since_login')
              - unless @projects.blank?
                #projects
                  =render :partial => "project", :collection => @projects
