:javascript
  $(document).ready(function() {
    var lat,
    lon,
    elev = 0;
    var map = null;
    var marker = null;
    var pathname = "#{url_for(:action => controller.action_name)}"

    var center = new google.maps.LatLng("#{@location.geom.envelope.center.y}", "#{@location.geom.envelope.center.x}");
    var sw = new google.maps.LatLng("#{@location.geom.envelope.lower_corner.y}", "#{@location.geom.envelope.lower_corner.x}");
    var ne = new google.maps.LatLng("#{@location.geom.envelope.upper_corner.y}", "#{@location.geom.envelope.upper_corner.x}");
    var mapBounds = new google.maps.LatLngBounds(sw, ne); // LatLngBounds(sw?:LatLng, ne?:LatLng)
    var mapOptions = {
      zoom: 5,
      center: center,
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
      }
    };
    map = new google.maps.Map($('#map_canvas')[0], mapOptions);
    // map.fitBounds(mapBounds);

    var fullScreenControlDiv = document.createElement('DIV');
    var fullScreenControl = new ToggleFullScreen(fullScreenControlDiv, map);

    fullScreenControlDiv.index = 1;
    map.controls[google.maps.ControlPosition.LEFT_TOP].push(fullScreenControlDiv);

    $.getJSON(pathname+'.json', function(geojson) {
      province = new GeoJSON(geojson, { strokeColor: "#444", strokeWeight:1, strokeOpacity: 0.75 });
      province.setMap(map);
    });

    geojson = #{Project.events_to_feature_collection(@projects).to_json};
    $.each(geojson.features, function(i, feature) {
      var event_marker = new GeoJSON(feature.geometry, null);
      event_marker.setAnimation(google.maps.Animation.DROP);
      event_marker.setMap(map);
      var content_string = renderJSONEvent(feature.properties);
      var info_window = new google.maps.InfoWindow({content: content_string});
      google.maps.event.addListener(event_marker, 'click', function() {
        info_window.open(map, event_marker);
        jQuery(function($){
            $('a.zoombox').zoombox();
        });
      });
    })

    // TODO: CHECK: Instead of the above, AJAX is also possible see routes.rb - not sure which is faster though
    // $.getJSON(pathname+'/events.json', function(geojson) {
    //   $.each(geojson.features, function(i, feature) {
    //     var event_marker = new GeoJSON(feature.geometry, null);
    //     event_marker.setAnimation(google.maps.Animation.DROP);
    //     event_marker.setMap(map);
    //     var content_string = renderJSONEvent(feature.properties);
    //     var info_window = new google.maps.InfoWindow({content: content_string});
    //     google.maps.event.addListener(event_marker, 'click', function() {
    //       info_window.open(map, event_marker);
    //     });
    //   })
    // });

  })
