= form_for @sector do |f|
  -if @sector.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sector.errors.count, "error")} prohibited this sector from being saved:"
      %ul
        - @sector.errors.full_messages.each do |msg|
          %li= msg

  .field.group
    = f.label :name, :class => 'label'
    = f.text_field :name, :class => 'text_field'
  .field.group
    = f.label :description, :class => 'label'
    = f.text_area :description, :class => 'text_area'
  .group.navform.wat-cf
    = f.submit t('save'), :class => 'button'
    = link_to t(:back), sectors_path, :class => 'button'
