= render :partial => "shared/nav"

- content_for :sidebar do
  -if (can? :create,  Sector)
    .block
      %h3=t(:sectors)
      .content
        .actions-bar.wat-cf
          .actions
            .addlink= link_to t(:create_a_new_sector), new_sector_path, :class => 'button'

  / TODO: Refactor to helper
  .block
    %h3=t(:sort_options)
    .content
      %ul.navigation
        %li{:class => ("current_sort" if session[:sectors_sort_order] == 'sectors.name asc') }
          = link_to_unless(session[:sectors_sort_order] == 'sectors.name asc', t(:alphabetical_asc), sectors_path(:sort_order => 'sectors.name asc'))
        %li{:class => ("current_sort" if session[:sectors_sort_order] == 'sectors.name desc') }
          = link_to_unless(session[:sectors_sort_order] == 'sectors.name desc', t(:alphabetical_desc), sectors_path(:sort_order => 'sectors.name desc'))

        %li{:class => ("current_sort" if session[:sectors_sort_order] == 'sectors.created_at asc') }
          = link_to_unless(session[:sectors_sort_order] == 'sectors.created_at asc', t(:created_at_asc), sectors_path(:sort_order => 'sectors.created_at asc'))
        %li{:class => ("current_sort" if session[:sectors_sort_order] == 'sectors.created_at desc') }
          = link_to_unless(session[:sectors_sort_order] == 'sectors.created_at desc', t(:created_at_desc), sectors_path(:sort_order => 'sectors.created_at desc'))

        %li{:class => ("current_sort" if session[:sectors_sort_order] == 'sectors.updated_at asc' )}
          = link_to_unless(session[:sectors_sort_order] == 'sectors.updated_at asc', t(:updated_at_asc), sectors_path(:sort_order => 'sectors.updated_at asc'))
        %li{:class => ("current_sort" if session[:sectors_sort_order] == 'sectors.updated_at desc')}
          = link_to_unless(session[:sectors_sort_order] == 'sectors.updated_at desc', t(:updated_at_desc), sectors_path(:sort_order => 'sectors.updated_at desc'))


= render @sectors