= render :partial => "nav"

.block
  .content
    = model_title_links(@sector, t="name")
    .inner
      %p= raw(RDiscount.new(@sector.description).to_html) rescue nil

/ TODO: Add Heading: %h1 Projects
.content
  .inner
    %h1 Projects
=render :partial => 'projects/project', :collection => @projects

.block
  .content
    .inner
      .actions-bar.wat-cf
        .actions
          = link_to raw("&larr; #{t(:back_to_sectors)}"), sectors_path, :class => "button"
