= render :partial => "nav"

.block
  .content
    = model_title_links(@sector, t="name")
    .inner
      = @sector.description

=render :partial => 'projects/project', :collection => @sector.projects

= link_to raw("&larr; #{t(:back_to_sectors)}"), sectors_path
