= render :partial => "nav"

.block
  .content
    = model_title_links(@sector, t="name")
    .inner
      %p= raw(RDiscount.new(@sector.description).to_html) rescue nil

=render :partial => 'projects/project', :collection => @sector.projects

= link_to raw("&larr; #{t(:back_to_sectors)}"), sectors_path
