%li
  .item
    %h3.title
      = event.title
      -if (can? :update,  event)
        = link_to_icon 'edit', t(:edit), edit_project_event_path(project, event)
      -if (can? :destroy,  event)
        = link_to_icon 'destroy', t(:destroy), project_event_path(project, event), 
          :confirm => "#{t(:do_you_want_to_delete, :event_title => event.title)}", :method => :delete

    %p.event-location
      %strong
        ="#{t(:location)}:"
      = event.address

    %p.event-description= raw(RDiscount.new(event.description).to_html) rescue nil
    %strong.gray.right.time{:datetime => "#{event.updated_at}"}= event.updated_at.to_formatted_s(:long)
