= form_for @event , :url => project_events_path(@project) do |f|
  -if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.hidden_field :geom
  .field
    = f.label :address
    = f.text_field :address
    %span.geocoding_status Address unvarified
    =link_to t(:geocode_this_address), nil, :class => 'geocode_address'
  .actions
    = f.submit t(:save)
