-content_for :head do
  = stylesheet_link_tag 'wmd/wmd.css'
  = javascript_include_tag 'vendor/wmd/wmd.combined.min'


= form_for [@project, @event], :html => { :multipart => true }  do |f|
  -if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.values.flatten.each do |msg|
          %li= msg
  .columns.wat-cf
    .column.left
      .field.group
        = f.label :title, :class => 'label'
        = f.text_field :title, :class => 'text_field'
      .field.group
        = f.label :description, :class => 'label'
        #description-button-bar
        = f.text_area :description, :class => 'text_area'
      .field.group
        %label.label Preview
        #event_description-preview.markdown_preview

      .field.group
        = f.hidden_field :geom, :class => 'hidden_field', :value => @event.geom.try(:as_ewkt)
      .field.group
        .fieldWithErrors
          = f.label :address, :class => 'label'
          %span.geocoding_status.error
            =t(:address_unverified)
        = f.text_field :address, :class => 'text_field'
        %span.description E.g. Multan, Pakistan
        .actions-bar.wat-cf
          .actions
            %span.geocode_link=link_to t(:geocode_this_address), nil, :class => 'geocode_address button'
            / FIXME: OR needed
            =link_to t(:use_current_location), nil, :class => 'use_current_location button'
        .field.group
          %label.label New Images:
          = f.fields_for :images do |image_fields|
            = image_fields.file_field :asset, :class => 'file_field'

    .column.right
      #map
        #map_canvas

  .group.navform.wat-cf
    = content_tag :button, :type => :submit, :class => 'button' do
      = image_tag "icons/tick.png"
      =t(:save)

:javascript
  setup_wmd({
      input: "event_description",
      button_bar: "description-button-bar",
      preview: "event_description-preview"
      // output: "copy_html"
  });
