%h1
  = t(:editing_event)

= render 'form'

= link_to raw("&larr; #{t(:back_to_current_project)} (#{@project.title})"), project_path(@project)
\|
= link_to raw("&larr; #{t(:back_to_projects)}"), projects_path
