=content_for :head do
  =stylesheet_link_tag 'map'
  =javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'

= render 'js/new-map_js'

= render :partial => "nav"

.block
  .content
    %h2.title
      = t(:new_event)
    .inner
      .form
        = render 'form'

#map_canvas
- content_for :sidebar do
  .block
    =link_to t(:use_current_location), nil, :class => 'use_current_location', :class => 'button'

= link_to raw("&larr; #{t(:back_to_current_project)} (#{@project.title})"), project_path(@project)
%br
= link_to raw("&larr; #{t(:back_to_projects)}"), projects_path
