=content_for :head do
  =stylesheet_link_tag 'map'
  =javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'

= render 'js/new-map_js'

%h1
  = t(:new_event)

#map_canvas
%br
=link_to t(:use_current_location), nil, :class => 'use_current_location'

= render 'form'

= link_to raw("&larr; #{t(:back_to_current_project)} (#{@project.title})"), project_path(@project)
%br
= link_to raw("&larr; #{t(:back_to_projects)}"), projects_path
