%h1 Edit Settings

= form_for :settings, :url => settings_url, :html => { :method => :put } do |f|
  - if @settings.errors.any?
    #error_explanation
      %h2= "#{pluralize(@settings.errors.count, "error")} prohibited these settings from being saved"
      %ul
        - @settings.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :locations
    %br
    = f.select :location_id, Location.all.collect{ |l| ["... "*l.admin_level+"#{l.admin_level} : #{l.name}", l.id ]}

  .field
    = f.label :language
    %br
    = f.text_field :language

  .actions
    = f.submit t(:save)
