= render :partial => 'nav'

.block
  .content
    %h2.title= t(:edit_user_settings)
    .inner
      .form

        = form_for :settings, :url => settings_url, :html => { :method => :put } do |f|
          - if @settings.errors.any?
            #error_explanation
              %h2= "#{pluralize(@settings.errors.count, "error")} prohibited these settings from being saved"
              %ul
                - @settings.errors.full_messages.each do |msg|
                  %li= msg

          .columns.wat-cf
            .column.left
              .field.group
                = f.label :locations, :class => 'label'
                / TODO: Tree Selection
                = f.select :location_id, @locations.collect{ |l| ["... "*l.admin_level+"#{l.admin_level} : #{l.name}", l.id ]}, :class => 'select'

              .field.group
                = f.label :language, :class => 'label'
                = f.text_field :language, :class => 'text_field'

              .group.navform.wat-cf
                - content_tag :button, :type => :submit, :class => 'button' do
                  = image_tag "icons/tick.png"
                  =t(:save)
                %a.button{:href => settings_path}
                  = image_tag "icons/cross.png", :alt => "Cancel"
                  Cancel
