-content_for :head do
  = stylesheet_link_tag 'wmd/wmd.css', :cache => true
  = javascript_include_tag 'vendor/wmd/wmd.combined.min', :cache => true


= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .columns.wat-cf
    .column.left
      .field.group
        = f.label :title, :class => 'label'
        = f.text_field :title, :class => 'text_field'
      .field.group
        = f.label :description, :class => 'label'
        #description-button-bar
        = f.text_area :description, :cols => 40, :rows => 10, :class => 'text_area'
      .field.group
        %label.label Preview
        #project_description-preview.markdown_preview
      .field.group
        = f.label :location, :class => 'label'
        = f.select :location_id, Location.all.collect {|p| [ p.name, p.id ] }, :class => 'select'
    .column.right
      .field.group
        = f.label :start_date, :class => 'label'
        = f.date_select :start_date, :class => 'date_select'
      .field.group
        = f.label :end_date, :class => 'label'
        = f.date_select :end_date, :class => 'date_select'
      .field.group
        = f.label :partners, :class => 'label'
        = select_tag 'project[partner_ids][]', options_from_collection_for_select(Partner.all, "id", "name"), :multiple=>true, :class => 'select_tag'
      .field.group
        = f.label :sectors, :class => 'label'
        = select_tag 'project[sector_ids][]', options_from_collection_for_select(Sector.all, "id", "name"), :multiple=>true, :class => 'select_tag'

  .group.navform.wat-cf
    - content_tag :button, :type => :submit, :class => 'button' do
      = image_tag "icons/tick.png"
      =t(:save)
    = link_to t(:back), projects_path, :class => 'button'

:javascript
  setup_wmd({
      input: "project_description",
      button_bar: "description-button-bar",
      preview: "project_description-preview"
      // output: "copy_html"
  });
