-content_for :head do
  = stylesheet_link_tag 'wmd/wmd.css'
  = javascript_include_tag 'vendor/wmd/wmd.combined.min'

  = stylesheet_link_tag 'flick/jquery-ui', 'jquery.multiselect', 'jquery.multiselect.filter'
  = javascript_include_tag  'vendor/jquery-ui.min', 'vendor/jquery.multiselect', 'vendor/jquery.multiselect.filter'

= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .columns.wat-cf
    .column.left
      .field.group
        = f.label :title, :class => 'label'
        = f.text_field :title, :class => 'text_field'
      .field.group
        = f.label :description, :class => 'label'
        #description-button-bar
        = f.text_area :description, :cols => 40, :rows => 10, :class => 'text_area'
      .field.group
        %label.label Preview
        #project_description-preview.markdown_preview
      .field.group
        = f.label :location, t('location'), :class => 'label'
        = f.text_field :location_id, :class => 'text_field', "data-pre" => @project.location_token.to_json
    .column.right
      .field.group
        = f.label :start_date, :class => 'label'
        = f.text_field :start_date, :class => 'text_field'
      .field.group
        = f.label :end_date, :class => 'label'
        = f.text_field :end_date, :class => 'text_field'
      .field.group
        = f.label :partners, :class => 'label'
        = select_tag 'project[partner_ids][]',
          options_from_collection_for_select(Partner.all, "id", "name", Proc.new{ |rec| @project.partners.map(&:id).include?(rec.id) } ),
          :multiple=>true, :class => 'multiselect jqui-multiselect'


      .field.group
        = f.label :sectors, :class => 'label'
        = select_tag 'project[sector_ids][]',
          options_from_collection_for_select(Sector.all, "id", "name", Proc.new{ |rec| @project.sectors.map(&:id).include?(rec.id) } ),
          :multiple=>true, :class => 'multiselect jqui-multiselect'


  .group.navform.wat-cf
    = content_tag :button, :type => :submit, :class => 'button' do
      = image_tag "icons/tick.png"
      =t(:save)
    = link_to t(:back), projects_path, :class => 'button'

:javascript
  $(document).ready(function () {

    setup_wmd({
        input: "project_description",
        button_bar: "description-button-bar",
        preview: "project_description-preview"
        // output: "copy_html"
    });

    $("#project_location_id").tokenInput("/search/locations", {
        minChars: 3,
        hintText: "Type in a location name",
        tokenLimit: 1,
        prePopulate: $('#project_location_id').data("pre")
    });

     $("#project_partner_ids_").multiselect({
        noneSelectedText: 'Select partner organisations',
        header: 'Select partners from list:'
     }).multiselectfilter({placeholder: "enter partner" });

     $("#project_sector_ids_").multiselect({
        noneSelectedText: 'Select sectors',
        header: 'Select sectors from list:'
     }).multiselectfilter({placeholder: "enter sector" });

     $("#project_start_date").datepicker({ dateFormat: 'yy-mm-dd', changeYear: true });
     $("#project_end_date").datepicker({ dateFormat: 'yy-mm-dd', changeYear: true });
  });