= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :description
    %br
    = f.text_area :description, :cols => 40, :rows => 10
  .field
    = f.label :location
    %br
    = f.select :location_id, Location.all.collect {|p| [ p.name, p.id ] }
  .field
    = f.label :start_date
    %br
    = f.date_select :start_date
  .field
    = f.label :end_date
    %br
    = f.date_select :end_date
