%p
  %b Title:
  = @project.title
%p
  %b Description:
  = @project.description
%p
  %b Admin:
  = @project.admin_id
%p
  %b Start date:
  = @project.start_date
%p
  %b End date:
  = @project.end_date

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
