- content_for :head do
  = stylesheet_link_tag 'google'
  = javascript_include_tag 'GeoJSON', 'json-helpers'
  :javascript
    function initialize() {
      var pathname = window.location.pathname;
      var myLatlng = new google.maps.LatLng(30.375, 69.345);
      var myOptions = {
        zoom: 6,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.TERRAIN
      }
      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      $.getJSON(pathname+'.json', function(geojson) {
        province = new GeoJSON(geojson, null);
        province.setMap(map);
      });

      $.getJSON(pathname+'/events.json', function(geojson) {
        $.each(geojson.features, function(i, feature) {
          var event_marker = new GeoJSON(feature.geometry, null);
          event_marker.setMap(map);
          var content_string = renderJSON(feature);
          var info_window = new google.maps.InfoWindow({content: content_string});
          google.maps.event.addListener(event_marker, 'click', function() {
            info_window.open(map, event_marker);
          });
        })
      });
    }

    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize";
      document.body.appendChild(script);
    }

    window.onload = loadScript;

#map_canvas

%p
  %b Title:
  = @project.title
%p
  %b Description:
  = @project.description
%p
  %b Location:
  = @project.location.name
%p
  %b Start date:
  = @project.start_date
%p
  %b End date:
  = @project.end_date

%h2 Recent Events
= render :partial => 'events/event', :collection => @project.events

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
\|
= link_to 'Events', project_events_path(@project)