- content_for :outer do
  = stylesheet_link_tag 'map'
  = javascript_include_tag 'vendor/GeoJSON', 'map-helpers'
  = render 'js/show-map_js'

= render :partial => "nav"



.project.block
  .content
    =model_title_links(@project)
    .inner
      .columns.wat-cf
        .column.left
          %h3.project-time
            = @project.start_date.to_formatted_s(:long)
            \-
            = @project.end_date.to_formatted_s(:long)
          %h3.project-location
            %strong
              ="#{t(:location)}:"
            = @project.location.name.titleize

          %p.first.project-description= raw(RDiscount.new(@project.description).to_html) rescue nil
        .column.right
          #map
            #map_canvas

.block
  .content
    %h2.title
      = t(:recent_events)
    .inner
      %ul.list
        = render :partial => 'events/event', :collection => @project.events.desc, :locals => {:project=>@project}

.block
  .content
    %h2.title
      = t(:sectors)
    .inner
      %ul.list
        = render :partial => 'sector', :collection => @project.sectors

.block
  .content
    %h2.title
      = t(:partners)
    .inner
      %ul.list
        = render :partial => 'partner', :collection => @project.partners

- content_for :sidebar do
  .block
    -if (can? :create,  Event)
      =link_to t(:new_event), new_project_event_path(@project), :class => 'button'


.block
  .content
    .inner
      .actions-bar.wat-cf
        .actions= link_to raw("&larr; #{t(:back_to_projects)}"), projects_path, :class => "button"
