- content_for :outer do
  = stylesheet_link_tag 'map'
  = javascript_include_tag 'vendor/GeoJSON', 'map-helpers'
  = render 'js/show-map_js'

= render :partial => "nav"



.project.block
  .content
    =model_title_links(@project)
    .inner
      .columns.wat-cf
        .column.left
          .project-location= @project.location.name
          .project-description= @project.description
          .project-time
            = t(:start_date)+':'
            = @project.start_date
          .project-time
            = t(:end_date)+':'
            = @project.end_date
        .column.right
          #map
            #map_canvas

.block
  .content
    %h2.title
      = t(:recent_events)
    .inner
      %ul.list
        = render :partial => 'events/event', :collection => @project.events.desc

.block
  .content
    %h2.title
      = t(:sectors)
    .inner
      %ul.list
        = render :partial => 'sector', :collection => @project.sectors

.block
  .content
    %h2.title
      = t(:partners)
    .inner
      %ul.list
        = render :partial => 'partner', :collection => @project.partners

- content_for :sidebar do
  .block
    -if (can? :create,  Event)
      =link_to t(:new_event), new_project_event_path(@project), :class => 'button'

= link_to raw("&larr; #{t(:back_to_projects)}"), projects_path
