.block
  .content
    = model_title_links(location, t="name")
    .inner.child_locations

      %table.table

        %thead
          %h3
            =t(:Administrative_Level)
            =location.admin_level+1
            =t(:locations)
            \:

        %tbody
          - # TODO: use activerecord in_groups_of
          - location.children.map{|loc| [loc.id, loc.name, loc.projects_count]}.each_slice(5) do |v|
            %tr{:class=>cycle('odd','even')}
              - v.each do |l|
                %td{ :class => l[2] > 0 ? "has_project" : "" }
                  - if l[2] > 0
                    %span.location
                      = link_to "#{l[1]} (#{pluralize(l[2], 'project')})", location_path(l[0])
                  - else
                    %span.location= link_to l[1], location_path(l[0])
