.block
  .content
    = model_title_links(location, t="name")
    .inner.child_locations

      %table.table

        %thead
          %h3
            =t(:Administrative_Level)
            =location.admin_level+1
            =t(:locations)
            \:

        %tbody
          - location.children.map{|loc| [loc.id, loc.name]}.each_slice(5) do |v|
            %tr{:class=>cycle('odd','even')}
              - v.each do |l|
                %td
                  - project_count = Location.find(l[0]).projects.size
                  - if project_count > 0
                    %span.location.has_project
                      = link_to "#{l[1]} (#{pluralize(project_count, 'project')})", location_path(l[0])
                  - else
                    %span.location= link_to l[1], location_path(l[0])
