%p
  %b Name:
  = @location.name
%p
  %b Description:
  = @location.description
%p
  %b Admin level:
  = @location.admin_level_id
%p
  %b Geom:
  = @location.geom

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
