= render :partial => "nav"

.block
  .content
    = model_title_links(@location, t="name")
    .inner
      = @location.description


=render :partial => 'projects/project', :collection => @location.projects

= link_to raw("&larr; #{t(:back_to_locations)}"), locations_path

