!!!
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:charset => 'utf-8'}
    %title= content_for?(:title) ? yield(:title) : title_fallback
    /[if (gt IE 8)]
      = hoptoad_javascript_notifier
    = render 'shared/includes'
    = yield :head
  %body
    #outer
      = yield :outer
    #container
      #header
        %span.locale_links=render 'shared/locale_links'
        %h1
          %a{:href => "/"} Caritas
        #user-navigation
          =render 'shared/login_links'
        #main-navigation
          %ul.wat-cf
            = yield :nav
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p=raw(message)
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year}
        #sidebar
          = yield :sidebar
          -unless( params[:controller] =~ /articles/ || params[:controller] =~ /settings/ || !user_signed_in?)
            .block
              %h3=t(:Settings)
              .content
                .actions-bar.wat-cf
                  .actions
                    %ul.user_settings
                      %li= render 'shared/user_settings'