!!!
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:charset => 'utf-8'}
    %title= content_for?(:title) ? yield(:title) : title_fallback
    /[if (gt IE 8)]
      = hoptoad_javascript_notifier
    = render :partial => 'shared/includes'
    = render :partial => 'shared/locale_links'
    = render :partial => 'shared/login_links'
    = yield :head
  %body
    #header
      = yield :header
    #nav
      %ul
        %li=link_to t(:projects), projects_url
        %li=link_to t(:sectors), sectors_url
        %li=link_to t(:partners), partners_url
        %li=link_to t(:locations), locations_url
    %p#notice= notice
    %p#alert= alert

    = yield
