!!!
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:charset => 'utf-8'}
    %title Project
    = hoptoad_javascript_notifier
    = render :partial => 'shared/includes'
    = render :partial => 'shared/locale_links'
    = yield :head
  %body
    #header
      = yield :header
    #nav
      %ul
        %li=link_to 'Projects', projects_url
        %li=link_to 'Sectors', sectors_url
        %li=link_to 'Partners', partners_url
    %p#notice= notice
    = yield
