!!!
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:charset => 'utf-8'}
    %title= content_for?(:title) ? yield(:title) : title_fallback
    /[if (gt IE 8)]
      = hoptoad_javascript_notifier
    = render 'shared/includes'
    = yield :head
  %body
    #outer
      = yield :outer
    #container
      #header
        %h1
          %a{:href => "/"} Caritas
        #user-navigation
          =render 'shared/login_links'
        #main-navigation
          %ul.wat-cf
            = yield :nav
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} nomad labs.
        #sidebar
          = yield :sidebar
