!!!
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:charset => 'utf-8'}
    %title= content_for?(:title) ? yield(:title) : title_fallback
    /[if (gt IE 8)]
      = airbrake_javascript_notifier
    = render 'shared/includes'
    = yield :head
  %body
    = yield
